<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Lotto Dapp</h1>
  <div class="col-lg-6 mx-auto">
    <div *ngIf="blockNumber" class="my-4">
      <p *ngIf="blockNumber" class="lead mb-4">We are connected to the Goerli Blockchain at block {{ blockNumber }}</p>
      <button type="button" class="btn btn-success btn-lg px-4 gap-3" (click)="connectWallet()">Connect Wallet</button>
      <div *ngIf="signer" class="card my-4">
        <div class="card-body">
          <h5 class="card-title">User Wallet</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{userAddress}}</h6>
          <p class="card-text">Balance: {{userBalance}} ETH</p>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="syncBlock()">Sync</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" (click)="clearBlock()">Clear</button>
    </div>
  </div>
</div>